.content {
    max-width: min(112rem, 90%);
}

html {
    --black: #0D114F;
    --white: #FAFAFA;
    --red: #E83F5B;
    --light-blue: #E0ECFF;
    --blue: #3485FF;
    --background: #FBFCFF;
    --overlay: #040911;
    --icons-details: #A5B0C1;

    --grey-dark: #4D5E77;
    --grey-blue: #A1B2CD;
    --gey-light: #E5EAF1;
    --grey-medium: #EAECF2;
    
    /* 1rem = 16px (User Agent) = 100% */
    font-size: 62.5%;
}

.content {
    width: 100%;
    margin: 0 auto;
}

body, button, input, textarea {
    /* clamp= intervalo de tamanho */
    font-size: clamp(14px, 1.6rem, 2vw);

    font-family: 'Open Sans', sans-serif;
}

.sr-only {
    position: absolute;
    height: 1px;
    width: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

/* input and buttons */
input, button, .button {
    border-radius: 0.8rem;
    height: 5rem;
}

button, .button {
    font-family: 'Poppins';
    font-weight: 500;
    line-height: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--blue);
    color: var(--white);

    transition: filter 0.2s;

    cursor: pointer;
}

button:hover, .button:hover {
    filter: brightness(1.2);
}

button > img,
.button > img {
    margin-right: 1rem;
    width: 2rem;
}

button.outlined,
.button.outlined {
    background: var(--white);
    color: var(--blue);
    border: 0.2rem solid var(--blue);
}

.content header {
    width: 80%;
    margin: 3.5rem auto;
}

.content header img {
    width: 16.7rem;
}

 #room header {
    width: 100%;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding: 1.8rem;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#room header .buttons {
    display: flex;

    font-family: 'Poppins';
    font-weight: 500;
    line-height: 0;

    font-size: clamp(14px, 1.6rem, 2vw);

    border-radius: 0.8rem;
    height: 5rem;

    
}


#room header .buttons .button:nth-child(1) {
    margin-right: 0.8rem;
    padding: 1.3rem 1.6rem;
}

#room header .buttons .button:nth-child(1) img {
    margin-left: 1rem;
    width: 2rem;
    height: 2rem;
    
}

#room header .buttons .button:nth-child(2) {
    padding: 0.6rem 0.8rem;
}

#room header .buttons .button:nth-child(2) img {
    margin-right: 1rem;
    width: 2rem;
    height: 2rem;
}

/** Question Form **/
#question-form main {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#question-form h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.8rem;
    color: var(--black);
    font-weight: 700;
    line-height: 4.2rem;

    margin-bottom: 2.4rem;
}

#question-form form {
    border: 0.2rem solid var(--blue);
    padding: 1.6rem;
    border-radius: 0 0.8rem 0.8rem 0.8rem;
    
    margin-bottom: 1.6rem;
}

#question-form textarea {
    resize: none;
    background: transparent;

    width: 100%;

    outline: none;
}

#question-form form textarea::placeholder {
    color: var(--grey-blue);
}

#question-form form footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#question-form form footer > div {
    display: flex;
    align-items: center;
    color: var(--icon-details);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
}

#question-form form footer > div img {
    margin-right: 0.9rem;
}

#question-form form footer button {
    width: auto;
    height: auto;
    padding: 0.8rem 2.4rem;
    line-height: 2.4rem;
}

/***** Questions *****/
.question-wrapper {
    background: var(--light-blue);
    margin-bottom: 0.8rem;
    border-radius: 0 0.8rem 0.8rem 0.8rem;
    padding: 2.4rem;
}

.question-wrapper .question-content {
    display: flex;
    align-items: center;
}

.question-wrapper .question-content .user {
    background: var(--blue);
    clip-path: circle();
    padding: 1.4rem;
}

.question-wrapper .question-content p {
    margin-left: 1.6rem;
    word-break: break-word;
    display: flex;
    align-items: center;
    min-height: 5.5rem;
}

.question-wrapper .actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.question-wrapper .actions > a {
    display: flex;
    align-items: center;
}

.question-wrapper .actions > a > img {
    margin-right: 0.8rem;
}

.question-wrapper .actions > a + a {
    margin-left: 2.4rem;
}

/*****Question Reader */

.question-wrapper.read {
    background: var(--grey-medium);
}

.question-wrapper.read .question-content .user {
    background: var(--grey-blue);
}